<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.bjusystems.androvdr"
      android:versionCode="1"
      android:versionName="1.0">
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true" android:name=".app.AndroVdrApp">
        <activity android:label="@string/app_name" android:name=".gui.AndroVdrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<activity android:name=".gui.EpgListActivity"></activity>
<activity android:name=".gui.TimerListActivity"></activity>
<activity android:name=".gui.PreferencesActivity"></activity>
<activity android:name=".gui.ChannelListActivity"></activity>
<activity android:name=".gui.EpgDetailsActivity"></activity>
<activity android:name=".gui.TimerDetailsActivity"></activity>
<activity android:name=".gui.EpgSearchActivity"></activity>
<activity android:name=".gui.EpgSearchTimesListActivity"></activity>
<activity android:name=".gui.VideoActivity"></activity>
</application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 