<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.bjusystems.vdrmanager" android:versionName="0.6.0"
	android:versionCode="600">



	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

	<application android:icon="@drawable/app_logo"
		android:label="@string/app_name"
		android:hardwareAccelerated="true"
		android:name=".app.VdrManagerApp">
		<activity android:label="@string/app_name" android:name=".gui.VdrManagerActivity"
		     android:clearTaskOnLaunch="true"
		     android:theme="@style/Theme.Sherlock"
		     android:configChanges="locale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />

		</activity>

		<activity android:name=".gui.TimeEpgListActivity"
			android:configChanges="orientation|locale" />
		<activity android:name=".gui.EventEpgListActivity"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.TimerListActivity"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.PreferencesActivity"
			android:configChanges="orientation|locale"/>
		<activity android:name=".gui.ChannelListActivity"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.EpgDetailsActivity"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.TimerDetailsActivity" android:configChanges="orientation|locale|keyboardHidden"
		    android:windowSoftInputMode="stateHidden" >
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.RecordingListActivity"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".gui.EpgSearchListActivity" />
		</activity>
		<activity android:name=".gui.EpgSearchListActivity" android:launchMode="singleTask"
			android:configChanges="orientation|locale">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />

		</activity>
		<activity android:name=".gui.EpgSearchTimesListActivity" 	android:configChanges="orientation|locale"/>

		<activity android:name=".gui.VdrListActivity" 	        android:configChanges="orientation|locale"/>
		<activity android:name=".gui.VdrPreferencesActivity" 	android:configChanges="orientation|locale"/>


		<activity android:name=".backup.BackupActivity"   android:configChanges="orientation|locale"/>
        <activity android:name=".backup.RestoreActivity"  android:configChanges="orientation|locale" />
        <activity android:name=".backup.RestoreChooserActivity"  android:configChanges="orientation|locale" />
        <activity android:name=".backup.BackupSettingsActivity"  android:configChanges="orientation|locale"/>

         <provider android:name=".data.db.EPGSearchSuggestionsProvider"
              android:authorities="de.bjusystems.vdrmanager.data.db.EPGSearchSuggestionsProvider" />

	</application>


</manifest>